.border-black {
    border: 4px dashed black;
}

.border-blue {
    border: 4px dashed blue;
}

.border-red {
    border: 2px dashed red;
}

.border-dodgerblue {
    border: 2px dashed dodgerblue;
}


/* Main Content */

.spotlight img {
    width: 300px;
}

img {
    width: 100%;
}

.spotlight {
    background-color: #1ABC9C;
    height: 400px;
}

section {
    min-height: 500px;
}

.fa-star {
    font-size: 30px;
}

h2 {
    color: #333333;
    font-weight: 600;
}

.bar {
    width: 90px;
    border-radius: 10px;
    height: 4px;
}

.bar-small {
    width: 50px;
    border-radius: 10px;
    height: 4px;
}

[class^='col'] {
    border: 2px solid orange;
    min-height: 50px;
}

.bg-header {
    background-color: #2C3E50;
}

.bg-about {
    background-color: #1ABC9C;
}

/* Main Content */

.text-size {
    font-size: 35px;
}

.p-size {
    font-size: 20px;
    font-weight: 500;
}

.btn-about {
    font-size: 20px;
    padding: 6px 15px 6px 15px;
    font-weight: 500;
}

.form-control::placeholder {
    font-weight: 500;
    color: rgb(33, 37, 41);
}

.btn-contacts {
    background-color: #1ABC9C;
    color: #fff;
    font-weight: 500;
    padding: 8px 12px 8px 12px;
}
