.border-black {
    border: 4px dashed black;
}

.border-blue {
    border: 4px dashed blue;
}

.border-red {
    border: 2px dashed red;
}

.border-dodgerblue {
    border: 2px dashed dodgerblue;
}

/* Header */

/* header {
    height: 80px;
    background-color: #2C3E50;
} */

form {
    min-height: 350px;
}


/* Main Content */

img {
    width: 300px;
}

.spotlight {
    background-color: #1ABC9C;
    height: 400px;
}

section {
    min-height: 500px;
    border: 2px dashed red;
}

.fa-star {
    font-size: 30px;
}

.bar {
    width: 90px;
    border-radius: 10px;
    height: 4px;
}

/* .container {
    border: 2px dashed red;
} */

/* .container-fluid {
    border: 2px dashed purple;
} */

[class^='col'] {
    border: 2px solid orange;
    min-height: 50px;
}

.bg-header {
    background-color: #2C3E50;
}

/* Main Content */

.text-size {
    font-size: 35px;
}